body {
    font-family: 'Balsamiq Sans', cursive;
}

#header-nav {
    background-color: #fff200;
    border-radius: 0;
    border: 0;
}

/*
#logo-img {
    background: url('../images/utensils-solid.svg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    color: blue;
}
*/

/*.navbar-brand {
    padding-top: 25px;
}*/

.navbar-brand h1 { /* Restaurant name */
    color: #ff000d;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}
  
#nav-list a {
    color: #ff000d;
    text-align: center;
    font-size: 20px;
    background-color: #ff9900;
}

#nav-list a:hover {
    background: #fff980;
}

#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #ff000d;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

.text-center {
    color: #ff000d;
}

#blurb {
    background-color: #f0eb89;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #b5ac04;
}

#blurb p {
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-size: 25px;
}

.navbar-header button.navbar-toggle:active {
    background: #ff9900;
}

.navbar-header button.navbar-toggle:focus {
    background: #ff9900;
}

.navbar-header button.navbar-toggle:hover {
    background: #ff9900;
}